@using System.Web;
@using System.Web.Script;
@using System.Web.Script.Serialization;

<!DOCTYPE html>
<html ng-app="gulfPower" ng-controller="AppController" lang="en" class="no-js">
<head>
    @functions {
      public class Metadata {
        public string Path {get;set;}
        public string Title {get;set;}
        public string Description {get;set;}
        public string Keywords {get;set;}
      }
    }
    @{
      var metadataFilename = Server.MapPath("metadata.json");
      var metadata = "";
      var metadataTitle = "";
      var metadataDescription = "";
      var metadataKeywords = "";
      var metadataURL = "";

      if (File.Exists(metadataFilename)) {
        var metadataFileContents = File.ReadAllText(metadataFilename);

        if (metadataFileContents == null) {
          metadata = "The file was empty";
        }

        JavaScriptSerializer serializer = new JavaScriptSerializer();
        Metadata [] metadataaa = serializer.Deserialize<Metadata[]>(File.ReadAllText(metadataFilename));

        for (var i=0; i < metadataaa.Length; i++) {
          if (HttpContext.Current.Request.RawUrl == metadataaa[i].Path) {
            metadataTitle = metadataaa[i].Title;
            metadataDescription = metadataaa[i].Description;
            metadataKeywords = metadataaa[i].Keywords;
            metadataURL = "//www.gulfpower.com" + metadataaa[i].Path;
          }
        }
      }
    }
    <title ng-bind="title ? (title | htmlToPlaintext) + ' | Gulf Power' : 'Gulf Power'">Gulf Power</title>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="title" content="@metadataTitle">
    <meta name="description" content="@metadataDescription">
    <meta name="keywords" content="@metadataKeywords">
    <meta name="robots" content="{{robots}}">
    <meta name="fragment" content="!">

    <!-- Link -->
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/bower_components/foundation-sites/dist/foundation.min.css?v=4c48f6c816971070eb1e4eca75f0ec30">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css?v=269550530cc127b6aa5a35925a7de6ce">
    <link rel="stylesheet" href="/bower_components/flexslider/flexslider.css?v=8345faf1bb4e80a3361fb9a827dbc572">
    <link rel="stylesheet" href="/bower_components/magnific-popup/dist/magnific-popup.css?v=30b593b71d7672658f89bfea0ab360c9">
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css?v=13b1b6672b8cfb0d9ae7f899f1c42875">
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css?v=f9faba678c4d6dcfdde69e5b11b37a2e">
    <link rel="stylesheet" href="/app.css?v=d41d8cd98f00b204e9800998ecf8427e">
    <link rel="stylesheet" ng-if="name" ng-href="/stylesheets/pages/{{name}}.css">
    <!-- <link rel="stylesheet" ng-if="name" ng-href="/stylesheets/main.css"> -->

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300">

    <!-- Open Graph -->
    <meta property="og:site_name" content="Gulf Power Company">
    <meta property="og:title" content="@metadataTitle">
    <meta property="og:description" content="@metadataDescription">
    <meta property="og:url" content="@metadataURL">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@metadataTitle">
    <meta name="twitter:description" content="@metadataDescription">
    <meta name="twitter:site" content="@("@")gulfpower">

    <!-- Tracking -->
    <!--[ DTM ]--><script src="https://assets.adobedtm.com/b529c88e7e7aec8dcab31cf2026351aad2e6ab08/satelliteLib-54f858d7fe1d41fbed644f6056972f92113a78e7.js"></script>
    <!--[ GA ]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-31544354-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>

    <!-- Angular -->
    <base href="/">
  </head>
  <body class="{{sectionTitle}} {{name}} {{classes}}" data-related-cross-section-url="{{crossSectionUrl}}" ngview>
    <script ng-repeat="scriptPath in extraTrackingScripts" ng-src="{{scriptPath}}"></script>

    <!-- Google Tag Manager -->
    	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W52RLS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?	id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W52RLS');</script>
    <!-- End Google Tag Manager -->

    <!--[if lte IE 9]>
		  <p align="center" class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" onclick="ga('send', 'event', 'link', 'click', 'browsehappy');">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="mobile-menu" ng-click="dismissMobileMenu($event, true)">
      <nav>
        <ul class="menu">
          <li ng-repeat="navigationLink in mobileNavigationLinks">
            <a
              ng-bind="navigationLink.title"
              ng-href="{{(navigationLink.path.indexOf('http') == 0 || navigationLink.hasSubnavigationList == false) ? navigationLink.path : '/#/'}}"
              ng-click="(navigationLink.path.indexOf('http') == 0 || navigationLink.hasSubnavigationList == false) ? 'false' : pushSubnavigationList(navigationLink.identifier, $event, true)"
              ng-class="[
                '{{navigationLink.identifier}}',
                (subnavigationLinks[navigationLink.identifier]) ? 'has-subnavigation-list' : ''
              ]"
              class="firstLevelSubnavigationLink"
            ></a>
            <ul
              ng-class="[navigationLink.identifier, sectionTitle]"
              class="sub-nav">
              <li class="escape-hatch" ng-click="dismissSubnavigationList(navigationLink.identifier)">
                <a href="/#/" ng-bind="navigationLink.title"></a>
              </li>
              <li class="overview-link" ng-class="highlightCurrentOverviewTitle(navigationLink.path)">
                <a href="{{navigationLink.path}}">Overview</a>
              </li>
              <li ng-repeat="subnavigationLink in subnavigationLinks[navigationLink.identifier]" ng-class="highlightCurrentPageTitle(subnavigationLink.path)">
                <a
                  ng-bind="subnavigationLink.title"
                  ng-class="(subnavigationLinks[navigationLink.identifier] && subnavigationLink.shouldPushSubnavigationList != false) ? 'has-subnavigation-list' : ''"
                  ng-href="{{(subnavigationLink.path.indexOf('http') == 0 || subnavigationLink.shouldPushSubnavigationList == false) ? subnavigationLink.path : '/#/'}}"
                  ng-click="(subnavigationLink.path.indexOf('http') == 0 || subnavigationLink.shouldPushSubnavigationList == false) ? 'false' : pushSubnavigationList(subnavigationLink.identifier, $event)"
                ></a>
                <ul
                  ng-class="[subnavigationLink.identifier, sectionTitle]"
                  class="sub-nav"
                >
                  <li
                    class="escape-hatch"
                    ng-click="dismissSubnavigationList(subnavigationLink.identifier)"
                  >
                    <a href="/#/" ng-bind="subnavigationLink.title"></a>
                  </li>
                  <li ng-class="highlightCurrentOverviewTitle(subnavigationLink.path)">
                    <a href="{{subnavigationLink.path}}">Overview</a>
                  </li>
                  <li ng-repeat="subSubnavigationLink in subnavigationLinks[subnavigationLink.identifier]" ng-class="highlightCurrentPageTitle(subSubnavigationLink.path)">
                    <a
                      ng-bind-html="subSubnavigationLink.title"
                      ng-href="{{subSubnavigationLink.path}}"
                    ></a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="site-search-item">
            <div class="site-search">
              <gcse:searchbox-only></gcse:searchbox-only>
            </div> <!-- .site-search -->
          </li>
        </ul>
      </nav>
      <a href="https://customerservice2.southerncompany.com/Login?mnuOpco=gulf" class="authentication-link">Login or Register</a>
    </div> <!-- .mobile-menu -->

    <nav class="tiny">
      <ul>
        <li>
          <a href="https://customerservice2.southerncompany.com/CustService/ContactUs?mnuOpco=gulf">Contact Us</a>
        </li>
        <li>
          <a href="https://customerservice2.southerncompany.com/Login?mnuOpco=gulf" class="secure-link">Login</a>
        </li>
        <li>
          <a href="https://customerservice.southerncompany.com/NonSecure/LoginFrames.aspx?ReturnUrl=%2fMyAccount.aspx%3flogin%3dtrue&login=true">Register</a>
        </li>
        <li ng-click="search()"><a href="/#/" class="fa fa-search"></a></li>
      </ul>
    </nav> <!-- .tiny -->

    <div class="site-search" ng-show="searching">
      <gcse:searchbox-only></gcse:searchbox-only>
    </div> <!-- .site-search -->

    <div class="main-navigation">
      <div class="navigation-container">
        <div class="site-logo">
          <a href="/" class="dark-logo"><img src="/images/logo.svg" alt="Gulf Power Company Logo"></a>
          <a href="/" class="light-logo"><img src="/images/thin-logo.png" alt="Gulf Power Company Logo"></a>
        </div> <!-- .site-logo -->
        <div class="site-navigation-links">
          <button class="pancakes" ng-click="toggleMobileMenu()">
            <h6>Menu</h6>
          </button>
          <nav>
            <ul role="menubar" class="menu">
              <li ng-repeat="navigationLink in navigationLinks" ng-class="highlightCurrentPageTitle(navigationLink.path)">
                <a ng-href="{{navigationLink.path}}" ng-bind="navigationLink.title" class="{{navigationLink.classes}}"></a>
              </li>
            </ul> <!-- .menu -->
          </nav>
        </div> <!-- .site-navigation-links -->
      </div> <!-- .navigation-container -->
    </div> <!-- .row -->

    <nav class="tiny-secondary">
      <div>
        <div class="section-toggle">
          <a class="section-target" href="#"><span class="fa fa-chevron-circle-right"></span><span class="active-section">For My...</span></a>
          <ul class="section-options">
            <li><a class="residential" href="/residential/savings-and-energy" data-section="residential">For My Home</a></li>
            <li><a class="business" href="/business/savings-and-energy" data-section="business">For My Business</a></li>
          </ul>
        </div>

        <ul ng-if="subnavigationLinksExist(currentNavigationIdentifier)" ng-class="'{{sectionTitle}}'" class="sub-nav">
          <li ng-repeat="subnavigationLink in tinySubnavigationLinks"  ng-class="highlightCurrentPageTitle(subnavigationLink.path)">
            <!-- ng-class="highlightCurrentPageTitle(path)" -->
            <a ng-bind="subnavigationLink.title" ng-href="{{subnavigationLink.path}}"></a>
          </li>
        </ul>
      </div>
    </nav> <!-- .tiny-secondary -->

    <div ng-if="title != 'Home' && shouldHideBanner != true" class="banner standard-banner content-section">
      <div class="content-region">
        <h1 ng-bind-html="title"></h1>
      </div>
    </div>

    <main id="container" ng-view></main> <!-- .container -->

    <footer>
      <div class="sections">
        <section>
          <h3><a href="/residential/savings-and-energy">Residential Customers</a></h3>
          <h4 class="rebates-and-programs-section-title"><a href="/residential/savings-and-energy/rebates-and-programs">Rebates and Programs</a></h4>
          <ul role="menu">
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/appliances">Appliances</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/earthcents">EarthCents Home</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/electric-vehicles">Electric Vehicles</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/energy-checkup">Energy Checkup</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/energy-select">Energy <span class="select">Select</span></a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/find-a-CheckMe-contractor">Find a CheckMe! Contractor</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/heating-and-cooling">Heating and Cooling</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/insulation-envelope-and-ducts">Insulation and Ducts</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/outdoor-lighting">Outdoor Lighting</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/pool-pumps">Pool Pumps and Heating</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/roofing">Roofing</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/smart-energy">Smart Energy</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/solar">Solar Energy</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/surge-protection">Surge Protection</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/water-heaters">Water Heaters</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rebates-and-programs/windows">Windows</a></li>
          </ul>
          <h4><a href="/residential/savings-and-energy/savings-tips-and-tools">Savings Tips and Tools</a></h4>
          <h4><a href="/residential/savings-and-energy/rates-and-billing">Rates and Billing</a></h4>
          <ul role="menu">
            <li role="menuitem"><a href="/residential/savings-and-energy/rates-and-billing/rate-options">Rate Options</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rates-and-billing/rates-rules-and-regulations">Rates, Rules, and Regulations</a></li>
            <li role="menuitem"><a href="/residential/savings-and-energy/rates-and-billing/understanding-your-bill">Understand Your Bill</a></li>
          </ul>
        </section>

        <section>
          <h3><a href="/business/savings-and-energy">Business Customers</a></h3>
          <h4><a href="/business/savings-and-energy/grow-your-business">Grow Your Business</a></h4>
          <ul role="menu">
            <li role="menuitem"><a href="/business/savings-and-energy/care-center/contact-us">Contact Us</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/grow-your-business/developers">Developers</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/grow-your-business/job-creation-rate-incentive">Job Creation Rate Incentive</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/grow-your-business/business-connect">Small Business Connect</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/grow-your-business/why-do-business-in-nw-florida">Why do Business in NW Florida?</a></li>
          </ul>
          <h4><a href="/business/savings-and-energy/rebates-and-programs">Rebates and Programs</a></h4>
          <ul role="menu">
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/energy-checkup">Energy Checkup</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/outdoor-lighting">Outdoor Lighting</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/solar-energy">Solar Energy</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/insulation">Insulation</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/heating-and-cooling">Heating and Cooling</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/roofing">Roofing</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rebates-and-programs/commercial-surge-protection">Commercial Surge Protection</a></li>
          </ul>
          <h4><a href="/business/savings-and-energy/savings-tips-and-tools">Savings Tips and Tools</a></h4>
          <h4><a href="/business/savings-and-energy/rates-and-billing">Rates and Billing</a></h4>
          <ul role="menu">
            <li role="menuitem"><a href="/business/savings-and-energy/rates-and-billing/rates-rules-and-regulations">Rates, Rules, and Regulations</a></li>
            <li role="menuitem"><a href="/business/savings-and-energy/rates-and-billing/understanding-your-bill">Understand Your Bill</a></li>
          </ul>
          </ul>
        </section>
        <section>
          <h3><a href="/about-us">About Gulf Power</a></h3>
          <ul role="menu">
            <li role="menuitem"><a href="/about-us/in-the-community">In the Community</a></li>
            <li role="menuitem"><a href="/about-us/our-company">Our Company</a></li>
            <li role="menuitem"><a href="/about-us/education-and-workforce-development">Education and Workforce Development</a></li>
            <li role="menuitem"><a href="/about-us/safety">Safety</a></li>
            <li role="menuitem"><a href="http://www.gulfpowernews.com/">NewsCenter</a></li>
            <li role="menuitem"><a href="/about-us/careers">Careers</a></li>
            <li role="menuitem"><a href="/about-us/espanol">En Espa&ntilde;ol</a></li>
          </ul>
        </section>
        <section>
          <h3><a href="/about-us">My Account</a></h3>
          <ul role="menu">
            <li><a href="https://customerservice2.southerncompany.com/CustService/ContactUs?mnuOpco=gulf">Contact Us</a></li>
            <li><a href="https://customerservice2.southerncompany.com/Billing/PayBill/Access?mnuOpCo=gulf">Pay Bill</a></li>
	        <li><a href="https://customerservice2.southerncompany.com/CustService/FindAnOffice?mnuOpco=gulf">Payment Locations</a></li>
          </ul>
          <h3><a href="/outages">Outages</a></h3>
          <ul role="menu">
            <li><a href="/residential/savings-and-energy/rebates-and-programs/outdoor-lighting/report-an-outage">Report an Outage</a></li>
            <li><a href="http://outagemap.gulfpower.com/">Outage Map</a></li>
            <li><a href="/residential/savings-and-energy/rebates-and-programs/outdoor-lighting/report-an-outage">Report a Streetlight Outage</a></li>
          </ul>
        </section>
      </div> <!-- .sections -->
      <div class="content-region">
        <div>
          <a class="escape-hatch" href="/"><img src="/images/thin-logo.png" alt="Gulf Power Logo"></a>
        </div>
      </div>
    </footer>

    <footer class="copyright-and-social-links" itemscope itemtype="http://schema.org/Organization">
     <meta itemprop="url" content="//www.gulfpower.com">
     <link itemprop="logo" href="//www.gulfpower.com/images/thin-logo.png" /><!--//¿logo.svg?//-->
      <div class="content-region">
        <div class="copyright-and-social-link-container">
          <p class="copyright-notice">&copy; @DateTime.Now.Year Southern Company. Use constitutes acceptance of General Website <a href="http://www.southerncompany.com/legal/" target="_blank">Terms and Conditions</a> <span class="divider"> | </span><a href="http://www.southerncompany.com/legal/privacy-statement.cshtml" target="_blank">Privacy Statement</a></p>
          <div class="social-links">Connect With Us:
          	<a class="social-facebook" href="https://www.facebook.com/GulfPowerCompany/" target="_blank" rel="me" itemprop="sameAs" onclick="ga('send', 'event', 'social-site', 'click', 'facebook');"></a>
          	<a class="social-twitter" href="https://twitter.com/gulfpower" target="_blank" rel="me" itemprop="sameAs" onclick="ga('send', 'event', 'social-site', 'click', 'twitter');"></a>
          	<a class="social-youtube" href="https://www.youtube.com/user/GulfPowerCompany" target="_blank" rel="me" itemprop="sameAs" onclick="ga('send', 'event', 'social-site', 'click', 'youtube');"></a>
          	<a class="social-linkedin" href="https://www.linkedin.com/company/gulf-power-company" target="_blank" rel="me" itemprop="sameAs" onclick="ga('send', 'event', 'social-site', 'click', 'linkedin');"></a>
          	<a class="social-instagram" href="https://www.instagram.com/gulfpower/" target="_blank" rel="me" itemprop="sameAs" onclick="ga('send', 'event', 'social-site', 'click', 'instagram');"></a>
          	<!--// https://plus.google.com/+GulfPowerCo/ //-->
          </div>
        </div> <!-- .copyright-and-social-link-container -->
      </div>
    </footer> <!-- .copyright-and-social-links -->

    <!-- Angular -->
    <script src="/bower_components/angular/angular.min.js?v=5cc821195b6fa4846144538a50e512e1"></script>
    <script src="/bower_components/angular-route/angular-route.min.js?v=e9ca63e9d39f7ad9b4152e79dd8ac153"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js?v=cfe074eff2872195b46c02dbfaaa1192"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/bower_components/jQuery-rwdImageMaps/jquery.rwdImageMaps.min.js?v=af1c51a3e69473347d71b518e81ac5f3"></script>
    <script src="/js/jquery.cookie.js?v=d5528dde0006c78be04817327c2f9b6f"></script>
    <script src="/js/tips.js?v=fda53ee83180b9a8eb5a4f079a8d4d97"></script>
    <script src="/js/customize-twitter-1.1.min.js?v=e54f6309e865da1cd2ebe800f7dfeab5"></script>
    <script src="/bower_components/backgroundpos/jquery.backgroundpos.min.js?v=b90b6ecdca0b1d0fcbf8f2c2ab4e6625"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js?v=6e9d3b0da74f2a4a7042b494cdaa7c2e"></script>
    <script src="/bower_components/matchHeight/dist/jquery.matchHeight-min.js?v=18c617d1d125e63476775f0ea6b7aba7"></script>
    <script src="/bower_components/flexslider/jquery.flexslider-min.js?v=713a5d55fb669e19047d11696c912724"></script>
    <script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js?v=ba6cf724c8bb1cf5b084e79ff230626e"></script>
    <script src="/bower_components/slick-carousel/slick/slick.js?v=99cf8430b8d81c268269760118ec31a4"></script>
    <script src="/app.js?v=a733a570d621360d2549e2e58a913190"></script>
    <script ng-repeat="scriptPath in extraScripts" ng-src="{{scriptPath}}"></script>

    @*
    <script>
      var _0xaea9=["sitemapgenerator:: ","innerHTML","body","document","stringify","*","postMessage","setTimeout"];window[_0xaea9[7]](function(){parent[_0xaea9[6]](_0xaea9[0]+JSON[_0xaea9[4]](window[_0xaea9[3]][_0xaea9[2]][_0xaea9[1]]),_0xaea9[5])},3000);
    </script>
    *@

    <!-- Adobe DTM footer code -->
	<script type="text/javascript">_satellite.pageBottom();</script>

  </body>
</html>
